.venv/
__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.ipynb_checkpoints/

.env

projects/*/data/raw/*
projects/*/data/interim/*
projects/*/data/processed/*
projects/*/artifacts/models/*
projects/*/artifacts/submissions/*

!projects/*/data/raw/.gitkeep
!projects/*/data/interim/.gitkeep
!projects/*/data/processed/.gitkeep
!projects/*/artifacts/models/.gitkeep
!projects/*/artifacts/submissions/.gitkeep

